services:
  rubin-marketplace-postgres:
    image: postgres:14
    container_name: rubin-marketplace-postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-nest_test}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-nest_test}
      POSTGRES_DB: ${POSTGRES_DATABASE:-nest_test}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "127.0.0.1:${POSTGRES_PORT:-5433}:5432"
    volumes:
      - rubin-marketplace-postgres:/var/lib/postgresql/data
    restart: unless-stopped

  rubin-marketplace-pgadmin:
    image: dpage/pgadmin4:9.11
    container_name: rubin-marketplace-pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin@rubin-marketplace.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-rubin-marketplace}
      PGADMIN_CONFIG_SERVER_MODE: "False"
    ports:
      - "127.0.0.1:5050:80"
    volumes:
      - rubin-marketplace-pgadmin:/var/lib/pgadmin
    depends_on:
      - rubin-marketplace-postgres
    restart: unless-stopped

  rubin-marketplace-redis:
    image: redis:7.4.1-alpine
    container_name: rubin-marketplace-redis
    ports:
      - "127.0.0.1:6379:6379"
    restart: unless-stopped
    networks:
      - rubin-marketplace-network

volumes:
  rubin-marketplace-postgres:
  rubin-marketplace-pgadmin:
  rubin-marketplace-redis:


networks:
  rubin-marketplace-network: